<div id="home_body" class="flex flex-col lg:flex-row overflow-y-auto overflow-x-hidden lg:overflow-visible">
  <div class="flex flex-col items-center grow w-full lg:mr-2 lg:items-left">
    <div class="flex justify-center lg:block lg:w-full md:mb-12">
      <div class="w-[80%] flex justify-center">
        <img src="<%= asset_path 'logo.svg' %>" alt="logo" class="w-[76%]">
      </div>
    </div>
    <h1>Environement : <%= Rails.env %></h1>
    <div class="relative w-fit lg:w-full sm:flex sm:justify-center lg:justify-normal">
      <% unless home.secondary_photo.key.nil? %>
      <%= cl_image_tag home.try(:secondary_photo).key, crop: :fill, class: "sm:w-2/3 lg:hidden", :cloud_name => ENV['CLOUDINARY_CLOUD_NAME'] %>
      <% end %>
      <% unless home.primary_photo.key.nil? %>
      <%= cl_image_tag home.try(:primary_photo).key, crop: :fill, class: "hidden lg:block lg:h-auto lg:w-4/5", :cloud_name => ENV['CLOUDINARY_CLOUD_NAME'] %>
      <% end %>
      <div class="box-border absolute -top-12 w-20 h-20 md:w-28 md:h-28 -left-10 lg:w-32 lg:h-32 lg:-left-16 lg:top-12 border-2 border-yellow-400 transform rotate-45"></div>
      <div class="box-border absolute w-24 h-24 lg:w-32 lg:h-32 -right-10 -bottom-4 lg:right-[4.5rem] lg:-bottom-12 border-2 border-yellow-400 transform rotate-45"></div>
      <div class="box-border absolute w-[5.6rem] h-[5.6rem] -right-[2.33rem] -bottom-[0.83rem] lg:w-[7.5rem] lg:h-[7.5rem] lg:right-[4.75rem] lg:-bottom-11 border-2 border-yellow-400 transform rotate-45"></div>
    </div>
  </div>
  <div class="flex flex-col-reverse lg:flex-col items-center grow w-full lg:pt-32 lg:ml-2 lg:items-left">
    <div class="relative w-full lg:w-11/12">
      <% unless home.secondary_photo.key.nil? %>
      <%= cl_image_tag home.try(:secondary_photo).key, crop: :fill, class: "hidden w-full h-auto lg:block", :cloud_name => ENV['CLOUDINARY_CLOUD_NAME'] %>
      <% end %>
      <div class="hidden lg:block box-border absolute w-40 h-40 -right-16 -top-16 border-2 border-yellow-400 transform rotate-45"></div>
    </div>
    <div class="w-full lg:w-11/12 px-10 md:px-20 py-8 text-left md:py-16 lg:px-0">
      <h2 class="font-bold font-charmonman text-fun-green-500 text-[1.5rem] md:text-[1.6rem] md:text-3xl lg:text-3xl"><%= home.try(:title) %></h2>
      <p class="font-comfortaa text-[15px] text-titleGray pt-6"><%= home.try(:description) %></p>
    </div>
  </div>
</div>
