<div class="flex flex-col-reverse lg:flex-row w-full lg:h-full">
  <div class="w-full lg:w-[60%] pt-8 lg:pt-0">
		<div class="font-comfortaa text-[15px] text-titleGray px-10 lg:py-8 lg:px-10 xl:px-40">
			<h2 class="mb-4 font-bold font-charmonman text-paradiso-500 text-[1.5rem] lg:text-[1.6rem] lg:text-3xl lg:text-3xl">Nous contacter</h2>
			<!-- TODO: Hacerlo dinámico -->
			<%# TODO: Aadd form %>
			<p class="mb-8 text-titleGray">Une question sur l'un de nos soins ? Vérifiez nos disponibilités ? Vous voulez nous faire part de vos commentaires ? Nous sommes à votre écoute ! Ouvert du lundi au samedi de 9h à 19h.</p>
			  <%= render 'contact_form' %>
		</div>
  </div>
	<div class="w-full h-[25rem] px-10 lg:hidden"
		data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
	</div>
  <div class="hidden lg:block h-full w-[40%] px-0"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
	</div>
</div>
