<!DOCTYPE html>
<html>
  <head>
    <title>Les Massages De Pauline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Comfortaa:wght@500&family=Inter:wght@500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar">
      <div class="bg-white font-comfortaa flex justify-between" id="navbar">
        <a class="brand" href="#">Les massages de Pauline</a>
        <ul class="flex">
          <li>
            <a href="#">Les massages</a>
          </li>
          <li>
            <a href="#">Offrir un soin</a>
          </li>
          <li>
            <a href="#">Info pratiques</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="bg-primaryBg pt-0 md:px-0 lg:px-28 lg:py-9 xl:px-40 xl:py-5">
      <%= yield %>
    </div>

    <footer class="footer font-inter bg-footerBg flex-col py-10 px-10 md:h-[150px] md:flex-row md:px-20 md:py-0 lg:px-28 xl:px-40">
      <div class="md:flex md:items-center">
        <img src="<%= asset_path 'logoblack.svg' %>" alt="logo" class="w-[80px] h-[80px] md:w-[120px] md:h-[120px]">
      </div>
      <div class="leading-4 text-[11px] pt-[12px] md:text-[12px] md:w-auto md:pt-8">
        <h3 class="pb-[6px] font-bold">ADRESSE</h3>
        <p class="font-medium">13 Avenue Yolande d'Aragon</p>
        <p class="font-medium">(Front de Maine)</p>
        <p class="font-medium">49100 Angers</p>
        <p class="font-medium">02 41 23 17 64</p>
      </div>
      <div class="leading-4 text-[11px] pt-[12px] md:text-[12px] md:w-auto md:pt-8">
        <h3 class="pb-[6px] font-bold">HORAIRES D'OUVERTURE</h3>
        <p class="font-medium">Du lundi au vendredi de 9h30 à 19h</p>
        <p class="font-medium">Le samedi de 9h a 14h</p>
        <p class="font-medium">Nocturne le jeudi jusqu'à 21h</p>
      </div>
    </footer>
  </body>
</html>
