<!DOCTYPE html>
<html>
  <head>
    <title>Les Massages De Pauline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Comfortaa:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar">
      <div class="bg-white font-comfortaa flex justify-between" id="navbar">
        <a class="brand" href="#">Les massages de Pauline</a>
        <ul class="flex">
          <li>
            <a href="#">Les massages</a>
          </li>
          <li>
            <a href="#">Offrir un soin</a>
          </li>
          <li>
            <a href="#">Info pratiques</a>
          </li>
        </ul>
      </div>
    </nav>
      
    <div class="bg-primaryBg pt-0 md:px-0 lg:px-28 lg:py-9 xl:px-40 xl:py-5">
      <%= yield %>
    </div>

  </body>
</html>
