<!DOCTYPE html>
<html>
  <head>
    <title>Les Massages De Pauline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Comfortaa:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar h-[80px] md:h-[100px]">
      <div class="nav_logo mt-2 ml-11 md:ml-36 md:mt-3">
        <img src="<%= asset_path 'logo.svg' %>" alt="logo" class="w-[80px] h-[70px] md:w-[120px] md:h-[120px]">
      </div>
      <div id="items" class="nav_items bg-[#347E7F] text-[#FBFBF7] text-[26px] md:text-[#347E7F] md:bg-[#FBFBF7] md:text-[22px]" >
        <a href="#" class="py-5 md:mr-6 md:py-0">Les massages</a>
        <a href="#" class="py-5 md:mr-6 md:py-0">Infos pratiques</a>
      </div>
      <div id="toggle" class="nav_toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <script>
      toggle.onclick = () =>{
        items.classList.toggle("open")
        toggle.classList.toggle("close")
      }
    </script>
    <div class="bg-primaryBg pt-0 md:px-0 lg:px-28 lg:py-9 xl:px-40 xl:py-5">
      <%= yield %>
    </div>
  </body>
</html>



 <!--<nav class="navbar">
      <div class="bg-[#FBFBF7] font-confortaa flex justify-between text-[#347E7F] border-b border-[#347E7F] h-[135px]" id="navbar">

        <div class="ml-11 md:ml-36">
          <img src="<%= asset_path 'logo.svg' %>" alt="logo">
        </div>

        <a class="brand" href="#">My portfolio</a>
        <div class="flex items-center mr-11 lg:hidden">
          <img src="<%= asset_path 'menu.svg' %>" alt="menu" class="w-[30px] h-[30px]" onclick="openMenu();">
        </div>

        <div id="menu" class="bg-[#347E7F] text-[#FBFBF7] hidden align-middle text-center text-[22px] flex-grow justify-between absolute top-[0px] w-full h-[100%] pt-2 pb-2 lg:relative lg:grow-0 lg:mr-36 lg:flex lg:text-[#347E7F] lg:bg-[#FBFBF7] lg:top-0 lg:w-auto lg:h-auto lg:pt-0 lg:pb-0 lg:pl-0 lg:pr-0">
          <div class="flex flex-col lg:flex-row">
            <a href="#" class="border-b border-[#FBFBF7] pb-1 lg:pb-0 lg:pr-8">Les massages</a>

              <a href="#">Offrir un soin</a>

            <a href="#" class="pt-1 lg:pt-0">Infos pratiques</a>
          </div>
        </div>
      </div>
    </nav>
    <script>
      function openMenu() {
        let menu = document.getElementById('menu');

        if(menu.classList.contains('hidden')) {
          menu.classList.remove('hidden');
        } else {
          menu.classList.add('hidden');
        }
      }
    </s>
