<!DOCTYPE html>
<html>
  <head>
    <title>LESMassagesDePauline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="bg-white font-comfortaa flex justify-between" id="navbar">
        <a class="brand" href="#">My portfolio</a>
        <ul class="flex">
          <li>
            <a href="#">Les massages</a>
          </li>
          <li>
            <a href="#">Offrir un soin</a>
          </li>
          <li>
            <a href="#">Info pratiques</a>
          </li>
        </ul>
      </div>
    </nav>
      
    <div class="w-full lg:w-auto block lg:flex lg:items-center lg:inline-block hidden" id="navbar">
      <a class="brand" href="#">Les massages de Pauline</a>
    </div>
    <%= yield %>
  </body>
</html>
