<!DOCTYPE html>
<html>
  <head>
    <title>Les Massages De Pauline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/65fb5af6ee.js" crossorigin="anonymous"></script>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <% unless devise_controller? && action_name == "new" %>
      <%= render "shared/navbar" %>
      <%= render "shared/navbar_mobile" %>
    <% end %>

    <div id="flash" class="flash">
      <%= render "shared/flash" %>
    </div>

    <%= turbo_frame_tag "modal" %>

    <% if user_signed_in? %>
      <%= render "shared/admin_banner" %>
    <% end %>

    <div class="h-screen bg-snow-drift-500 py-0 px-0 ">
      <%= yield %>
    </div>
  </body>
</html>
